body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(33, 113, 187);
    text-align: center;
}
tr{
    transition: 200ms;
}
.nav-link{
    color: white !important;
}

nav{
    position: fixed !important;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 1px 4px 1px #888888;
    background: linear-gradient(to left,  #6666ff 0%, #00cc99 100%);
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px !important;
}
.navbar-toggler{
   background-color: white !important;
}


